<%# assign default value to locals  %>
<% element_span_style = "span10" if local_assigns[:element_span_style].nil? %>
<% input_name_placeholder = "" if local_assigns[:input_placeholder].nil? %>
<% input_location_placeholder = "" if local_assigns[:input_location_placeholder].nil? %>
<% form_submit_label = "Auf Karte suchen" if local_assigns[:form_submit_label].nil? %>

<%# render form %>
<%= simple_form_for(@area, :html => {:class => 'form-vertical', :multipart => true }) do |f| %>
    <% if @area.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@area.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @area.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <%= f.input :name, :placeholder => input_name_placeholder,:input_html => { :class => element_span_style  } %>
  <%= f.input :location, :placeholder => input_location_placeholder, :input_html => { :class => element_span_style  } %>


  <%= f.submit form_submit_label, :class => element_span_style  %>
<% end %>