<h1>Listing routes</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Klettergebiet</th>
    <th>Schwierigkeitsgrad</th>
    <th></th>
    <th></th>
  </tr>

<% @routes.each do |route| %>
  <tr>
    <td><%= link_to route.name, routes_show_path(route.id) %>
    <td><%= Area.find(route.area_id).name %></td>
    <td><%= route.grade %></td>
    

    <% unless @umkreis_ort.nil? or @umkreis_ort.length == 0 %>
      <td><%= @route_distance_to_umkreis_ort[route.id]/1000 %> km von <%= @umkreis_ort %></td>
    <% end %>
  </tr>
<% end %>
</table>

<br />