<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @route.name %>
</p>

<p>
  <b>Area:</b>
  <%= Area.find_by_id(@route.area_id).name %>
</p>

<p>
  <b>Grade:</b>
  <%= @route.grade %>
</p>

<p>
  <b>Directions:</b>
  <%= @route.directions %>
</p>

<p>
  <b>Latitude:</b>
  <%= @route.latitude %>
</p>

<p>
  <b>Longitude:</b>
  <%= @route.longitude %>
</p>
      <div><%= @route.pictures.count %> Bilder</div>
  <div>
     <%= render :partial => "shared/image_view", :locals => { route_or_area_object: @route, is_area: false} %>
  </div>

<div>
  <%= gmaps(:map_options =>
  { :auto_zoom => false, :zoom => 15}, "markers" => { "data" => @route.area.to_gmaps4rails }) %>
</div>


<div class="span8">
  <%= render :partial => "shared/upload_pic_form", :locals => { route_or_area_object: @route, is_area: false} %>
</div>
<div style="clear:both"></div>
<hr>

<%= render :partial => "comments" %>
<%= render :partial => "comments_form" %>
<%= link_to 'Back', home_path %>
