<!DOCTYPE html>
<html>
<head>
  <title>Kletterfreund</title>
  <%= stylesheet_link_tag    "application", :media =>
  "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %></head>
<body>

  <div class="container-fluid">
    <div class="row-fluid">
      <div class="span3">
        <div class="well" >
          <ul class="nav nav-list">
            <li class="nav-header">Navigation</li>
            <!--li class="active">
            <a href="#">Home</a>
          </li>
          <li>
            <a href="#">Library</a>
          </li-->
          <li>
            <%= link_to "Klettergebiet eintragen", areas_new_path %></li>
          <li>
            <%= link_to "Route eintragen" ,routes_new_path %>
            <div class="demo">
              <div id="slider"></div>
            </div><!-- End demo -->

          </li>
          <li>
            <h3>Route suchen</h3>
            <%= render :partial => "shared/search_form" %>

          </li>
          <li class="nav-header">&nbsp;</li>
          <li >
            <div class="btn-group">
              <% if user_signed_in? %>
              <p class="label" style="text-align:center">
                Eingeloggt als:
                <%= current_user_email %></p>
              <% end %>
              <% unless user_signed_in? %>
              <%= link_to login_path do %>
              <button class="btn">Login</button>
              <% end %>
              <% else %>
              <%= link_to logout_path, method: :delete do %>
              <button class="btn">Logout</button>
              <% end %>
              <% end %>
              <%= link_to register_path do %>
              <button class="btn">Register</button>
              <% end %></div>
          </li>

        </ul>
      </div>
    </div>
    <div class="span9">
      <div class="well">
        <% if flash[:notice] %>
        <p id="notice">
          <span class="label label-success">Notice</span>
          <%= flash[:notice] %></p>
        <% end %>

        <% if flash[:alert] %>
        <p id="alert">
          <span class="label label-important">Warning</span>
          <%= flash[:alert] %></p>
        <% end %>
        
        <%= yield %></div>
    </div>
  </div>
</div>

<%= yield :scripts %></body>
</html>